body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a5370;
}

.calculator-container{
    height: 700px;
    width: 400px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.output{
    box-sizing: border-box;
    color: white;
    height: 300px;
    width: 100%;
    margin-right: 10px;
    padding: 15px;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: sans-serif;
    font-size: 44px;
}
.inputs{
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(128, 128, 128);
}
.num{
    box-sizing: border-box;
    width: 22%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    background-color: rgb(34, 34, 34);
    margin: 5px;
    border-radius: 15px;
}
.num:not(.divide, .times, .plus, .equals):hover{
    filter: brightness(150%);
    cursor: pointer;
}
.divide, .times, .plus, .equals, .minus{
    box-sizing: border-box;
    width: 22%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    background-color: rgb(255, 166, 0);
    font-size: 60px;
    margin: 5px;
    border-radius: 15px;
}
.equals{
    width: 46.8%;
}
.divide:hover, .times:hover, .plus:hover, .equals:hover, .minus:hover, .selected{
    filter: brightness(120%);
    cursor: pointer;
}